snippet div
<div>
    $1
</div>
endsnippet

snippet doc "Basic html boilerplate code"
<!DOCTYPE html>
    <head>
	<meta charset="UTF-8">
	<title>${1:title}</title>
    </head>
    <body>
        $2
    </body>
</html>
endsnippet
